<header class="g-header-front-page">

    {% include 'partials/front-page/menu.twig' %}

    <div class="container">
        <div class="banner-text">
            <h1 class="front-page-heading">Front page heading</h1>
            <h2 class="front-page-sub-heading">Front page sub heading</h2>
        </div>
    </div>
</header>