<header class="g-header-front-page">

    {% include 'partials/front-page/menu.twig' %}

    <div class="container">
        <div class="banner-text">
            <h1 class="front-page-heading">{{ banner_heading }}</h1>
            <h2 class="front-page-sub-heading">{{ banner_sub_heading }}</h2>
        </div>
    </div>
</header>