#p-contact-us {
	#contact-us {
		.contact-information {
			p {
				color: $teritary;
			}
			h2 {
				margin-top: 20px;
				font-size: 2em;
				color: $secondary-900;
				line-height: normal;
				@media (min-width: $lg) {
					font-size: 2.77777777778em;
				}
			}
			ul {
				margin-top: 30px;
				li {
					
					&:not(:first-child) {
						margin-top: 15px;
					}
					i {
						margin-right: 20px;
					}
					p {
						display: inline-block;
						color: $darkPurpleBlue;
						font-weight: bold;
						width: 40%;
					}
				}
			}
			@media (min-width: $md) {
				text-align: left;
			}
		}
		.get-in-touch {
			margin-top: 30px;

			h3 {
				margin-top: 0;
				font-size: 1.66666666667em;
			}

			form {
				.form-group {
					margin-top: 20px;
				}
				button[type="submit"] {
					width: 45%;
					margin: 0 auto;

					@media (min-width: $md) {
						margin: 0;
					}
				}
			}
			@media (min-width: $md) {
				margin-top: 0;
				text-align: left;
			}
		}
		.map {
			margin-top: 75px;
			@media (min-width: $lg) {
				margin-top: 150px;
			}
		}
	}
}
