<!DOCTYPE html>
<html {{ site.language_attributes }}>

    {% include 'html-header.twig' %}

    <body class="{{ body_class }}">
    
        {% if is_front_page %}
            {% include 'partials/front-page-header.twig' %}
        {% endif %}

        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}

        {% include 'html-footer.twig' %}
    </body>
</html>
