$primary: #FEDB41;
$secondary: #007EA1;
$secondary-500: #004976;
$secondary-900: #14396D;
$teritary: #017ACD;
$gold: #fdbd47;
$mainBGColor: #f3f8fc;
$turquoise: #01F0DB;
$darkBlue: #0A1026;
$lightGray: #686868;
$blueTint: #F6FBFF;
$darkPurpleBlue: #13287D;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
