.g-header-front-page {
	background: url("../../img/front-page-banner.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;

	@media (min-width: $xl) {
		height: 90vh;
		background-size: 100vw 100vh;
	}

	.banner-text {
		@extend .g-banner-text;
		text-align: left;
		padding: 8vh 0;

		@media (min-width: $md) {
			padding: 10vh 0;
		}

		@media (min-width: $xl) {
			padding: 0;
			padding-top: 30vh;
		}

		h1 {
			padding-top: 30px;
			font-size: 40px;

			@media (min-width: $md) {
				font-size: 50px;
			}

			@media (min-width: $lg) {
				padding-top: 30px;
				font-size: 70px;
			}

			@media (min-width: $xl) {
				padding-top: 40px;
				font-size: 100px;
			}
		}

		h2 {
			font-size: 24px;
		}
	}
}
