<div id="wrapper-navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg g-main-nav" aria-labelledby="main-nav-label">
            <h2 id="main-nav-label" class="sr-only">
                Skip to Content
            </h2>
            <div class="logo">
                <a href="{{ site.link }}"><img src="{{ theme.link }}/assets/img/logo.svg" alt="Rundex Logo - Home"></a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="<?php esc_attr_e( 'Toggle navigation', 'understrap' ); ?>">
                <i class="fa fa-bars"></i>
            </button>

            {% include "partials/nav-menu.twig" %}
        </nav>
    </div>
</div>