<section class="g-services">
    <div class="fluid-container">
        <img class="g-icon icon" src="{{ theme.link }}/assets/img/services-icon.svg" alt="" />
        <h2 class="heading">{{ services_heading }}</h2>
        <h3 class="sub-heading">{{ services_sub_heading }}</h3>
    </div>
</section>